In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [21]:
# Import the rotten_tomatoes_movies.csv to a DataFrame, and then output the fields and datatypes
# so the data can be easily mapped in an ERD.

movies_file = "rotten_tomatoes_movies.csv"
rot_movies_df = pd.read_csv(movies_file)
rot_movies_df.dtypes

rotten_tomatoes_link              object
movie_title                       object
movie_info                        object
critics_consensus                 object
poster_image_url                  object
rating                            object
genre                             object
directors                         object
writers                           object
cast                              object
in_theaters_date                  object
on_streaming_date                 object
runtime_in_minutes               float64
studio_name                       object
tomatometer_status                object
tomatometer_rating                 int64
tomatometer_count                  int64
audience_status                   object
audience_rating                  float64
audience_count                   float64
audience_top_critics_count         int64
audience_fresh_critics_count       int64
audience_rotten_critics_count      int64
dtype: object

In [22]:
review_file = "rotten_tomatoes_reviews.csv"
rot_review_df = pd.read_csv(review_file)
rot_review_df.dtypes

rotten_tomatoes_link     object
review_date              object
critic_publication       object
critic_icon              object
critic_top               object
critic_score            float64
review_content           object
dtype: object

In [23]:
rot_movies_df.head(10)

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3
5,/m/10000_bc,"10,000 B.C.",A young outcast from a primitive tribe is forc...,With attention strictly paid to style instead ...,https://resizing.flixster.com/x41Imwhe6xccM0Zl...,PG-13,"Action & Adventure, Classics, Drama",Roland Emmerich,"Roland Emmerich, Harald Kloser","Steven Strait, Camilla Belle, Cliff Curtis, Jo...",...,Warner Bros. Pictures,Rotten,8,148,Spilled,37.0,411087.0,36,12,136
6,/m/1000121-39_steps,The 39 Steps,A man in London tries to help a counterespiona...,"Packed with twists and turns, this essential e...",https://resizing.flixster.com/fMUYnPhrvxQei26H...,NR,"Action & Adventure, Classics, Mystery & Suspense",Alfred Hitchcock,"Alma Reville, Charles Bennett, Ian Hay","Robert Donat, Madeleine Carroll, Godfrey Tearl...",...,Gaumont British Distributors,Certified Fresh,96,47,Upright,86.0,23827.0,7,45,2
7,/m/1000123-310_to_yuma,3:10 to Yuma,"Desperate for money, frontier rancher Van Hefl...",NaN,https://resizing.flixster.com/grb6GL55otjiG5SL...,NR,"Classics, Drama, Western",Delmer Daves,Halsted Welles,"Glenn Ford, Van Heflin, Felicia Farr, Leora Da...",...,Columbia Pictures,Fresh,96,27,Upright,78.0,9224.0,6,26,1
8,/m/10002008-charly,Charly (A Heartbeat Away),Sam Roberts thinks he has all the answers: the...,NaN,https://resizing.flixster.com/1rDWkFkFVcKytV66...,PG,"Comedy, Drama, Romance",Adam Thomas Anderegg,"Jack Weyland, Janine Whetton Gilbert","Heather Beers, Gary Neilson, Lisa McCammon, Ja...",...,Excel Entertainment,Rotten,20,10,Upright,87.0,4819.0,1,2,8
9,/m/1000204-abraham_lincoln,Abraham Lincoln,"To date, this D.W. Griffith epic is the only t...",NaN,https://resizing.flixster.com/96qB_Sog9eYU3AqC...,NR,"Classics, Drama",D.W. Griffith,"Gerrit J. Lloyd, Stephen Vincent Benét","Walter Huston, Una Merkel, Kay Hammond, Ian Ke...",...,United Artists,Fresh,90,10,Spilled,38.0,455.0,4,9,1

In [24]:
# Drop unnecessary fields from the movies table

new_rot_movies_df = rot_movies_df[['rotten_tomatoes_link',
                                   'movie_title',
                                   'critics_consensus',
                                   'rating',
                                   'in_theaters_date',
                                   'on_streaming_date',
                                   'studio_name',
                                   'tomatometer_rating',
                                   'tomatometer_count',
                                   'audience_rating',
                                   'audience_count']].copy()

new_rot_movies_df

,rotten_tomatoes_link,movie_title,critics_consensus,rating,in_theaters_date,on_streaming_date,studio_name,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,PG,2010-02-12,2010-06-29,20th Century Fox,49,144,53.0,254287.0
1,/m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2010-10-19,Sony Pictures Classics,86,140,64.0,11567.0
2,/m/10,10,NaN,R,1979-10-05,1997-08-27,Waner Bros.,68,22,53.0,14670.0
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,NR,1957-04-13,2001-03-06,Criterion Collection,100,51,97.0,105000.0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",G,1954-01-01,2003-05-20,Disney,89,27,74.0,68860.0
...,...,...,...,...,...,...,...,...,...,...,...
16633,/m/zoot_suit,Zoot Suit,NaN,R,1981-10-02,2003-05-27,MCA Universal Home Video,56,9,74.0,1192.0
16634,/m/zootopia,Zootopia,The brilliantly well-rounded Zootopia offers a...,PG,2016-03-04,2016-06-07,Walt Disney Animation Studios,97,279,92.0,100946.0
16635,/m/zorba_the_greek,Zorba the Greek,NaN,NR,1964-12-17,2004-08-03,Fox,78,9,87.0,7126.0
16636,/m/zulu,Zulu,NaN,PG,1964-06-17,2001-02-02,Paramount Pictures,95,21,91.0,30170.0
16637,/m/zulu_dawn,Zulu Dawn,NaN,PG,1979-12-14,2005-09-27,Tango Entertainment,57,7,62.0,4464.0

In [25]:
# Remove movies released after 2015-01-01 to match the data from the Oscars data set

new_rot_movies_df = new_rot_movies_df[new_rot_movies_df.in_theaters_date <= '2015-01-01']
new_rot_movies_df

,rotten_tomatoes_link,movie_title,critics_consensus,rating,in_theaters_date,on_streaming_date,studio_name,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,PG,2010-02-12,2010-06-29,20th Century Fox,49,144,53.0,254287.0
1,/m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2010-10-19,Sony Pictures Classics,86,140,64.0,11567.0
2,/m/10,10,NaN,R,1979-10-05,1997-08-27,Waner Bros.,68,22,53.0,14670.0
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,NR,1957-04-13,2001-03-06,Criterion Collection,100,51,97.0,105000.0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",G,1954-01-01,2003-05-20,Disney,89,27,74.0,68860.0
...,...,...,...,...,...,...,...,...,...,...,...
16632,/m/zoom_2006,Zoom,Lacking the punch and good cheer of The Incred...,PG,2006-08-11,2007-09-02,Sony Pictures Entertainment,3,66,33.0,11327.0
16633,/m/zoot_suit,Zoot Suit,NaN,R,1981-10-02,2003-05-27,MCA Universal Home Video,56,9,74.0,1192.0
16635,/m/zorba_the_greek,Zorba the Greek,NaN,NR,1964-12-17,2004-08-03,Fox,78,9,87.0,7126.0
16636,/m/zulu,Zulu,NaN,PG,1964-06-17,2001-02-02,Paramount Pictures,95,21,91.0,30170.0
16637,/m/zulu_dawn,Zulu Dawn,NaN,PG,1979-12-14,2005-09-27,Tango Entertainment,57,7,62.0,4464.0

In [26]:
# Check for any duplicates in the new_rot_movies_df and remove them if found
new_rot_movies_df = new_rot_movies_df.drop_duplicates()
new_rot_movies_df

,rotten_tomatoes_link,movie_title,critics_consensus,rating,in_theaters_date,on_streaming_date,studio_name,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,PG,2010-02-12,2010-06-29,20th Century Fox,49,144,53.0,254287.0
1,/m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2010-10-19,Sony Pictures Classics,86,140,64.0,11567.0
2,/m/10,10,NaN,R,1979-10-05,1997-08-27,Waner Bros.,68,22,53.0,14670.0
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,NR,1957-04-13,2001-03-06,Criterion Collection,100,51,97.0,105000.0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",G,1954-01-01,2003-05-20,Disney,89,27,74.0,68860.0
...,...,...,...,...,...,...,...,...,...,...,...
16632,/m/zoom_2006,Zoom,Lacking the punch and good cheer of The Incred...,PG,2006-08-11,2007-09-02,Sony Pictures Entertainment,3,66,33.0,11327.0
16633,/m/zoot_suit,Zoot Suit,NaN,R,1981-10-02,2003-05-27,MCA Universal Home Video,56,9,74.0,1192.0
16635,/m/zorba_the_greek,Zorba the Greek,NaN,NR,1964-12-17,2004-08-03,Fox,78,9,87.0,7126.0
16636,/m/zulu,Zulu,NaN,PG,1964-06-17,2001-02-02,Paramount Pictures,95,21,91.0,30170.0
16637,/m/zulu_dawn,Zulu Dawn,NaN,PG,1979-12-14,2005-09-27,Tango Entertainment,57,7,62.0,4464.0

In [28]:
# Remove movies have no tomatometer_rating value or no audience_rating value

new_rot_movies_df = new_rot_movies_df[new_rot_movies_df.tomatometer_rating >= 0]
new_rot_movies_df = new_rot_movies_df[new_rot_movies_df.audience_rating >= 0]
new_rot_movies_df

,rotten_tomatoes_link,movie_title,critics_consensus,rating,in_theaters_date,on_streaming_date,studio_name,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,PG,2010-02-12,2010-06-29,20th Century Fox,49,144,53.0,254287.0
1,/m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,R,2010-04-30,2010-10-19,Sony Pictures Classics,86,140,64.0,11567.0
2,/m/10,10,NaN,R,1979-10-05,1997-08-27,Waner Bros.,68,22,53.0,14670.0
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,NR,1957-04-13,2001-03-06,Criterion Collection,100,51,97.0,105000.0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",G,1954-01-01,2003-05-20,Disney,89,27,74.0,68860.0
...,...,...,...,...,...,...,...,...,...,...,...
16632,/m/zoom_2006,Zoom,Lacking the punch and good cheer of The Incred...,PG,2006-08-11,2007-09-02,Sony Pictures Entertainment,3,66,33.0,11327.0
16633,/m/zoot_suit,Zoot Suit,NaN,R,1981-10-02,2003-05-27,MCA Universal Home Video,56,9,74.0,1192.0
16635,/m/zorba_the_greek,Zorba the Greek,NaN,NR,1964-12-17,2004-08-03,Fox,78,9,87.0,7126.0
16636,/m/zulu,Zulu,NaN,PG,1964-06-17,2001-02-02,Paramount Pictures,95,21,91.0,30170.0
16637,/m/zulu_dawn,Zulu Dawn,NaN,PG,1979-12-14,2005-09-27,Tango Entertainment,57,7,62.0,4464.0

In [29]:
new_rot_movies_df.to_csv('rotten_tomatoes.csv')